div.example {
    width: 100%;
    align: left;
}

div.placeholder50 {
    height: 50px;
}

div.placeholder15 {
    height: 15px;
}

div.placeholder5 {
    height: 5px;
}

div.zoomBlock {
    margin: 0;
    padding: 0;
    width: 320px;
    height: 240px;
    border: 2px solid #CCC;
    float: left;
    overflow: hidden;
}

div.slideshow {
    width:250px;
    float:left;
    align:left;
    text-align:center;
}

table.example-table {
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
}

table.example-table td {
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
}

div.zoomViewfinder {
    position: absolute;
    border: 1px solid black;
    cursor: crosshair;
    background: url(../bg.png) repeat 0 0;
}

.zoomBlock .zoomLoading { background-color:white; text-align:center; }
.zoomBlock .zoomLoading img {  }
