@CHARSET "UTF-8";

body{
	text-align: center;
}

table{
	
}

#divMain{
	margin:auto;
	width: 950px;
	height: 1900px;
}

td.appleAdvert,td.androidAdvert,td.DSTLAdvert{
	text-align: left;
	vertical-align: top;
}

div.appleAdvert,div.androidAdvert,div.DSTLAdvert{
	overflow: hidden;
	width: 100%;
	height: 20px;
}

.appleArticle, .androidArticle, .DSTLArticle{
	margin-right: 20px;
}

.typeLogo {
	vertical-align: middle;
}